@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* * {
  outline: 1px red solid;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply underline;
}

input,
select,
textarea {
  @apply border px-3 py-2 w-full;
}

button, .button {
  @apply bg-gray-300 py-2 border-gray-300 border px-3 no-underline flex justify-center;
}